body{
	padding-top: 60px;
	background: #42993b;
	color:#fff;
}
a[name]{
	text-decoration: none !important;
	color: black !important;
}
.black{
	color: #000 !important;
}

.black h1,.black h2,.black h3,.black h4{
	color: #222 !important;
}

.white-background{
	background: #fff !important;
}

 .default-height{
 	min-height: 250px;
 }

.subhead{
	padding: 7px 15px;
	border: 1px #000 solid;
}

table{
	background-color: #fff;
}

td{
	padding: 4px !important;
}

.sep10{
	padding-top: 10px;
}

.sep5{
	padding-top: 5px;
}
.bold{
	font-weight: bold;
}

.fill_parent{
	width: 100% !important;
}

.title_form{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px #CCC solid;
	margin-bottom: 10px;
	margin-top: 10px;
	text-transform: uppercase;
}
.relieve{
	text-shadow: #333 1px 1px 5px;
}

.font12{
	font-size: 12px;
}

.font11{
	font-size: 11px;
}

.mar-5{
	margin-top: -7px;
	font-size: 11px;
	font-weight: bold;
}

.show-hand{
	cursor: pointer;
}

.notify{
	background: rgba(0,0,0, 0.80);
	padding: 4px 15px;
	border: 1px #000 solid;
	text-align: center;
	position: fixed;
	bottom: 40px;
	margin: 0 auto;
	color: #fff;
	border-radius: 5px;
	cursor: default;
	visibility: hidden;
}

.notify:hover{
	opacity: 0.5;
}

.no-radius{
	border-radius: 0px !important;
	margin: 0px !important;
	border:1px #666 solid !important;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.font20{
	font-size: 20px;
}

.saved{
	position: relative;
}

.saved > .saved-icon{
	position: absolute;
	left: 1px;
	right: 1px;
	top: 1px;
	background: rgba(255,255,255,0.5);
	padding: 4px 6px;
	display: none;
}

.saved:hover > .saved-icon{
	display: block;
}

.item-saved{
	background: #FFFF99;
	padding: 4px 6px;
	border: 1px #666 solid;
	color: #333;
}

.piezaselector{
	text-transform: uppercase;
}

.pz input[type="text"],.pz input[readonly]{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background-color: #fff;
	color: #222;
}

.__PZ [class^="span"] input[type="text"]{
	padding: 15px;
	border-top-width: 0px !important;
}

.pz .__PZ:first-child input[type="text"]{
	border-top-width: 1px !important;

}

.__PZ [class^="span"]:first-child input[type="text"]{
	border-right: 0px !important;
	color: blue;
}
.__PZ [class^="span"]:last-child input[type="text"]{
	border-left: 0px !important;
	color: red;
}

.__PZ [class^="span"], .__HEAD [class^="span"]{
	margin: 0px;
}

.__PZ{
	position: relative;
}

.__PZ [data-idpzu]{
	position: absolute;
	right: -5px;
	top: 3px;
}

.text-red{
	color: red;
}

.text-green{
	color: green;
}

.text.white{
	color: white;
}

.text14px > [class^="span"]{
	font-size: 22px !important;
}

.form-inline{
	display: inline;
	margin: 0px;
	padding: 0px;
}

.est-one{
	width: 32.333333333%;
}
.est-two{
	width: 65.5%; 
}

.est-three{
	width: 100%;
}

.est-middle{
	width: 49%;
}

.est{
	vertical-align: top;
	margin: 10px 0.5% 0.5% 0px;
	min-height: 250px;
	background: #f4f4f4;
	display: inline-block;
	color: #222;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkir-border-radius: 7px;
}

.est > .est-title{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #222;
	border-left: 10px #333 solid;
	padding: 10px 10px;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

.est > .est-title a{
	color:inherit;
}

.est > .est-title [class^="icon-"]{
	vertical-align: top;
	text-align: right;
}

.est-info{
	background-color: rgb(27, 100, 156) !important;
	border-left-color: rgb(7, 80, 136) !important;
	text-shadow:0px -1px 0px rgba(0,0,0,0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;	
}

.est-danger{
	background-color: rgb(199, 28, 28) !important;
	border-left-color: rgb(179, 8, 8) !important;
	text-shadow:0px -1px 0px rgba(0,0,0,0.25);
	background-image: -moz-linear-gradient(top, rgb(219, 48, 48), rgb(199, 28, 28));
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(219, 48, 48)), to(rgb(199, 28, 28)));
	background-image: -webkit-linear-gradient(top, rgb(219, 48, 48), rgb(199, 28, 28));
	background-image: -o-linear-gradient(top, rgb(219, 48, 48), rgb(199, 28, 28));
	background-image: linear-gradient(to bottom, rgb(219, 48, 48), rgb(199, 28, 28));
	background-repeat: repeat-x;
}

.est-warning{
	background-color: rgb(243, 146, 0) !important;
	border-left-color: rgb(223, 126, 0) !important;
}
.est > .est-content{
	margin: 10px 30px;
}


.est > .est-content table,
.est > .est-content td{
	background: none;
	border-color: #999;
	font-size: 12px;
}

.est-content-margin1{
	margin: 10px 10px !important;
}

.50xciento{
	width: 50%;
}
.100xciento{
	width: 100%;
}

@media screen and (max-width: 1000px){
	.est-one{
		width: 49%;
	}
	.est-two, .est-middle{
		width: 100%; 
	}
}

@media screen and (max-width: 780px){
	.est-one, .est-two{
		width: 100%;
	}

	
}

[class^="span"] .bold{
	white-space: nowrap;
}

input[type="text"],
input[type="password"],
textarea{
	padding: 14px 10px;	
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.search-query{
	padding: 14px 10px !important;
}

td.middle{
	vertical-align: middle !important;
}

td.top{
	vertical-align: top !important;
}

td.nowrap{
	white-space: nowrap !important;
}

.dataTables_paginate{
	padding: 10px 0px; 
}

.dataTables_info{
	padding: 10px 0px !important;
}

.clear-fix{
	clear: both;
}

.img-producto{
	display: inline-block;
	margin: 0px 5px 10px 5px;
	width:auto;
	cursor: pointer;
	position: relative;
}

.img-producto > a.imagen{
	display: block;
	border:0px;
	text-decoration: none;
	width: 200px;
	height: 120px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.img-producto > a.delete{
	position: absolute;
	bottom: 10px;
	right: 10px;
}